PIPEFACIL_API_KEY=replace_with_workspace_public_api_key
PIPEFACIL_WEBHOOK_SECRET=replace_with_original_ai_agent_secret
# PIPEFACIL_WEBHOOK_SECRET_NEXT=replace_during_rotation
# PIPEFACIL_MEMBER_USER_ID=responsible_account_user_id
# PIPEFACIL_CUSTOM_FIELDS=interesse,produto
# PIPEFACIL_STAGE_IDS=qualified_stage_id
# PIPEFACIL_CHANNEL_IDS=channel_id
# PIPEFACIL_API_BASE_URL=https://pipefacil-server.matchsales.com.br
# PIPEFACIL_HOST=127.0.0.1
# PIPEFACIL_PORT=8645
# PIPEFACIL_CONCURRENCY=4
# PIPEFACIL_QUEUE_CAPACITY=500
# PIPEFACIL_QUEUE_PER_CHAT=50
# PIPEFACIL_TURN_TIMEOUT_SECONDS=600
